body {
    
    background-color: rgb(30, 67, 104);
   
}
.timer {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.label {
  
  font-size: 30px;
  list-style-type: none;
  padding: 40px;
  text-transform: uppercase;
}

.value {
  font-size: 60px;
  display: block;
}